DATABASE_URL="postgresql://[USER]:[PASSWORD]@[HOST]/[DATABASE]?sslmode=require"

PINECONE_API_KEY="pcsk_xxxxx_xxxxxxxxxxxxxxxxx"
PINECONE_INDEX_NAME="my-enterprise-index"

OPENROUTER_API_KEY="sk-or-v1-xxxxxxxxxxxxxxxxxxxxxxx"
LLM_MODEL="your_model_name"

EMBEDDING_MODEL="your_embedding_model_name"
EMBED_BATCH_SIZE=64

NEXT_PUBLIC_APP_URL="http://localhost:3000"