DATABASE_URL="postgresql://[USER]:[PASSWORD]@[HOST]/[DATABASE]?sslmode=require"

PINECONE_API_KEY="pcsk_xxxxx_xxxxxxxxxxxxxxxxx"
PINECONE_INDEX_NAME="chatbot-ojk"

OPENROUTER_API_KEY="isi dengan key yang udah dibagikan"
ROUTING_LLM_MODEL="your_routing_model_name"
LLM_MODEL="your_model_name"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
BETTER_AUTH_URL="http://localhost:3000"
RESEND_API_KEY="re_xxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxx"